body{
    background: url(../img/bcgnd.jpg);
}

#header_row, #content_row{
    margin-top: 5%;
    background-color: rgba(255, 255, 255, 0.7);
    border: #b5b5b5 solid;
    border-radius:5px;
    text-align: center;
}

#content_row{
    padding: 5%;
}

.content_item{
    padding: 2%;
}
#logo{
    width:40%;
    height: auto;
}

.head_item_wrap{
    margin: 1% auto;
}

.col-content{
    margin: auto 0;
}

h1{
    font-size: 300%;
}

.content_row{
    margin: 3%;
}

#start_quiz{
    
    height: 150%;
    font-size: 1.5rem;
}
#social-wrap{
    text-align: center;
    margin-top: 2%;
}

/* Style the form */
#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
  }
  
  /* Style the input fields */
  input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none; 
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #4CAF50;
  }